<a href="https://colab.research.google.com/github/Rodcbatista/Codenation-Projetct/blob/master/M%C3%B3dulo_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Cap 2 - Estrutura de Dados - Tuplas**

Em Python, tuplas são muito semelhantes às listas, no entanto, ao contrário de listas, tuplas são imutáveis, o que significa que não podem ser alteradas. Você usaria tuplas para apresentar dados que não devem ser alterados, como os dias da semana ou datas em um calendário. As tuplas são construídas com o uso de parênteses () e vírgulas separando cada elemento da tupla. Tupla = (item1, item2, item3, ..., itemz).

Tuplas NAÕ SÃO utilizadas com frequência, como listas por exemplo, mas são usadas quando é necessário imutabilidade. Se em seu programa você precisa ter certeza de que os dados não sofrerão mudança, então dupla pode ser a sua solução. Ela fornece uma fonte conveniente de integridade de dados.

In [0]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")

In [2]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes')

In [3]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: ignored

In [4]:
# Tuplas não suportam delete de um item específico
del tupla1["Geografia"]

TypeError: ignored

In [0]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [6]:
tupla1

'Chocolate'

In [0]:
tupla1 = ("Geografia", 23, "Elefantes")

In [8]:
tupla1[0]

'Geografia'

In [9]:
# Verificando o comprimento da tupla
len(tupla1)

3

In [13]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes')

In [0]:
# deletando a tupla
del tupla1

In [0]:
# criando uma tupla
t2 = ('a','b','c')

In [18]:
t2

('a', 'b', 'c')

In [21]:
# tuplas não suportam atribuição de item
t2[0] = 'd'

TypeError: ignored

In [0]:
# usando a função list () para converter uma tupla para lista
lista_t2 = list(t2)

In [23]:
lista_t2

['a', 'b', 'c']

In [0]:
lista_t2.append('d')

In [0]:
# usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [28]:
t2

('a', 'b', 'c', 'd')